.realtorFlex {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e0e0e0;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding-top: 30px;
    margin-top: 40px;
}

.realtorBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.realtorBlock .desc {
    max-width: 550px;
}

.name {
    font-size: 96px;
}

.realtorImg {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    height: 400px;
}

.realtorImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}