@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    scroll-behavior: smooth;
}

.block {
    padding: 80px 50px;
}

.blockNumber {
    font-size: 18px;
}

@media(max-width: 1450px) {
    .realtorFlex {
        flex-direction: column-reverse;
    }

    .realtorImg {
        height: 500px;
    }

    .realtorBlock .desc {
        margin: 30px 0px;
    }

    .contactFlex {
        gap: 45px;
    }
}

@media(max-width: 1350px) {
    .overviewGrid {
        grid-template-columns: 1fr;
    }

    .overviewDesc.two {
        margin: 35px 0px;
    }

    .overviewFlex {
        gap: 65px;
    }
}

@media(max-width: 1300px) {
    .hero-flex {
        flex-direction: column;
        gap: 65px;
    }

    .hero-flex .desc {
        margin: 24px 0px;
    }

    .hero-flex .heading {
        font-size: 80px;
    }
}

@media(max-width: 1200px) {
    #contact .headFlex.second {
        flex-direction: column;
        gap: 40px;
    }

    #contact form {
        margin: 65px 0px;
    }

    #contact form input,
    #contact form textarea {
        width: 100%;
    }

    footer {
        padding: 40px 0px;
    }
}

@media(max-width: 1160px) {
    .planGrid {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .planGrid .planBlock:nth-child(2) div:nth-child(1) {
        margin-top: 20px;
    }
}

@media(max-width: 1100px) {
    .featGrid {
        grid-template-columns: 1fr;
    }

    .featGrid div {
        padding-top: 20px;
    }

    .featGrid div p:nth-child(1) {
        font-size: 80px;
    }
}

@media(max-width: 1000px) {
    .featGrid2 {
        grid-template-columns: 1fr;
    }

    .featGrid2-h {
        margin-bottom: 40px;
    }

    .contact {
        display: none;
    }

    .Navbar ul {
        background-color: white;
        position: fixed;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        opacity: 0;
        top: 0%;
        left: 0%;
        gap: 0px;
        height: 100%;
        width: 100%;
        transition: 0.3s;
    }

    .Navbar ul.show {
        pointer-events: all;
        opacity: 1;
    }

    .Navbar ul li a {
        display: flex;
        font-size: 20px;
    }

    .Navbar ul li:last-child {
        display: flex;
    }

    .realtorFlex .name {
        font-size: 60px;
    }

    .toggle {
        display: flex;
    }
}

@media(max-width: 960px) {
    footer ul {
        position: initial;
        gap: initial;
        top: initial;
        left: initial;
        transform: initial;
        flex-direction: column;
        gap: 15px;
        margin: 40px 0px;
    }

    footer ul li a {
        font-size: 15px;
    }

    footer {
        flex-direction: column;
        align-items: initial;
        justify-content: initial;
        padding: 40px 0px 0px 0px;
        margin-top: 40px;
    }
}

@media(max-width: 700px) {
    .Gallery {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 300px);
    }

    .Gallery img:nth-child(1), 
    .Gallery img:nth-child(6) {
        grid-column: span 1;
    }

    .featImg {
        height: 300px;
    }

    .headFlex, .blockFlex {
        flex-direction: column;
        border-top: none;
        gap: 40px;
        padding-top: 0px;
    }

    .hero-flex .heading {
        font-size: 50px;
    }
}

@media(max-width: 650px) {
    .bullets {
        display: none;
    }

    .numberFlex, .arrows {
        padding: 35px;
    }

    .Slider {
        grid-template-rows: 350px;
    }

    .imgNumber {
        font-size: 35px;
    }

    .imgDesc {
        font-size: 15px;
    }

    .arrows button {
        padding: 15px;
    }
}

@media(max-width: 550px) {
    .overviewDesc {
        font-size: 25px;
    }

    .overviewFlex {
        flex-direction: column;
        gap: 40px;
    }
}

@media(max-width: 500px) {
    .Hero {
        padding: 180px 35px 80px 35px;
    }

    .block {
        padding: 80px 35px;
    }

    .Navbar {
        padding: 28px 35px;
    }

    .featGrid {
        gap: 40px;
    }

    .featGrid div p:nth-child(1) {
        font-size: 50px;
    }

    #contact form {
        grid-template-columns: 1fr;
        gap: 35px;
    }

    #contact form textarea {
        grid-column: span 1;
    }

    .contact-link {
        font-size: 25px;
    }
}

@media(max-width: 450px) {
    .imgDesc {
        display: none;
    }

    .overviewTable div,
    .planBlock div,
    .gridTwoSmall {
        gap: 25px;
    }
}

@media(max-width: 440px) {
    .realtorFlex .name {
        font-size: 40px;
    }
}

@media(max-width: 420px) {
    .overviewDesc {
        font-size: 20px;
    }
}

@media(min-width: 1446px) {
    .Hero, 
    .blockFlex , 
    .headFlex.second {
        margin: auto;
        width: 1446px;
    }

    footer {
        margin: 80px auto auto auto;
        width: 1446px;
    }
}